.main{
    background-color: white;
    height: 1000px;
    width:90%;
}
h1{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 20px 20px ;
    border-radius: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: green;
    width: 20px;
    height: 20px;

 }
.head{
margin-left: 300px;
}

.num1{
    color: aqua;
    font-size: 50px;
    margin-left: 300px;
}
